* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: a;
  src: url("sanskrit.ttf");
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading {
  text-align: center;
  position: relative;
  width: 90%;
  max-width: 1000px;
  display: flex;
  gap: 30px;
  height: 80px;
  margin: 20px 0px;
  justify-content: center;
  border: 6px solid #ddba79;
  box-shadow: inset 0px 0px 20px 3px black;
  letter-spacing: 1px;
  border-radius: 20px;
  align-items: center;
  background-image: url(images/floor.png);
  background-size: auto;
  background-position: center;
  color: #6f3f01;
  font-weight: 700;
  font-family: a;
  font-size: 1.6rem;
  animation: showHeading 1s ease-in-out;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    right: 10%;
    z-index: -1;
    background: url(images/floor.png);
    width: 7vmin;
    background-color: #412a00;
    transform: translateY(-107%);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    left: 10%;
    z-index: -1;
    background: url(images/floor.png);
    width: 7vmin;
    background-color: #412a00;
    transform: translateY(-107%);
  }
  img {
    height: 65%;
    &:nth-of-type(2) {
      transform: rotateY(180deg);
    }
  }
}
.px-40 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

#bookShelf {
  width: 100vw;
  min-height: 600px;
  position: relative;
  background-image: url(images/floor.png);
  background-repeat: repeat-y;
  background-size: 100% 199.891px;
  transform-origin: center;
  border-top: 20px solid #ddba79;
  animation: showShelf 1s ease-in-out;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1rem;
    margin: 0px 10%;
    grid-auto-rows: 200px;
    align-items: end;
  }

  @media (min-width: 640px) {
    .sm\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .sm\:gap-x-8 {
      column-gap: 2rem;
    }
  }

  @media (min-width: 768px) {
    .md\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media (min-width: 1024px) {
    .lg\:grid-cols-6 {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .book_wrapper {
    width: 106px;
    height: 130px;
    position: relative;
    opacity: 0;
    z-index: 4;
    transform: translateY(-18%);
    transition: opacity 1.5s;
    .book {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 2px 8px 8px 2px;
      background: #702d2d;
      font-family: acumin-pro, sans-serif;
      box-shadow: 0px -3px 20px -2px black;
      font-weight: 400;
      color: #2b2b2b;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s, box-shadow 0.5s;
      will-change: auto;
    }

    .book:hover {
      -webkit-transform: rotate3d(0, 1, 0, -30deg);
      -moz-transform: rotate3d(0, 1, 0, -30deg);
      transform: rotate3d(0, 1, 0, -30deg);
      box-shadow: 10px 0px 35px 0px black;
    }

    .book > div,
    .front > div {
      display: block;
      position: absolute;
    }

    .front {
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 0% 50%;
      -moz-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transform: translate3d(0, 0, 45px);
      -moz-transform: translate3d(0, 0, 45px);
      transform: translate3d(0, 0, 45px);
      z-index: 10;
    }

    .front > div {
      width: 106px;
      height: 130px;
    }

    .left-side {
      width: 45px;
      border-radius: 5px;
      transform-origin: right;
      z-index: 5001;
      right: 6%;
      top: 50%;
      height: 90%;
      background: url(images/stack_pages.png) repeat-y;
      filter: opacity(0.9) hue-rotate(-12deg) brightness(1);
      transform: translateY(-50%) rotate3d(0, 1, 0, 90deg);
    }

    .cover svg {
      position: absolute;
      top: 50%;
      left: 45%;
      margin-top: -100px;
      margin-left: -110px;
      width: 300px;
    }

    #eye-right {
      padding-left: 185px;
    }

    .cover .num-up {
      position: absolute;
      top: 64px;
      left: 47px;
      letter-spacing: 50px;
      transform: rotate(-90deg);
    }

    .cover .num-down {
      position: relative;
      top: 65px;
      left: -95px;
      transform: rotate(-90deg);
    }

    .author {
      font-family: acumin-pro, sans-serif;
      font-weight: 400;
      position: absolute;
      top: 475px;
      left: 50px;
      opacity: 0.8;
    }

    .front > div {
      outline: 2px solid #642323;
      border-radius: 2px 8px 8px 2px;
      pointer-events: none;
    }

    .front:after {
      content: "";
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: -1px;
      width: 1px;
    }

    // .cover:after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 10px;
    //   bottom: 0;
    //   width: 3px;
    //   background: rgba(0, 0, 0, 0.1);
    //   box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
    // }

    h2 {
      width: 500px;
      height: 40px;
      color: #2b2b2b;
      font-size: 15px;
      line-height: 40px;
      padding-right: 10px;
      text-align: right;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: rotate(90deg) translateY(-40px);
      -moz-transform: rotate(90deg) translateY(-40px);
      transform: rotate(90deg) translateY(-40px);
    }

    .cover {
      background-size: 100% 100%;
    }

    .left-side h2 span:first-child {
      font-weight: 400;
      font-size: 13px;
      padding-right: 20px;
    }

    .left-side h2 span:last-child {
      font-family: acumin-pro, sans-serif;
    }
  }

  #openBook_wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    min-height: 100%;
    backdrop-filter: brightness(0.5);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    will-change: auto;
    .openBook {
      transform-style: preserve-3d;
      position: relative;
      height: 188px;
      cursor: pointer;
      backface-visibility: visible;
      will-change: auto;
    }

    .front,
    .back,
    .page1,
    .page2,
    .page3,
    .page4,
    .page5,
    .page6 {
      transform-style: preserve-3d;
      position: absolute;
      border: 1px solid #412a008f;
      width: 140px;
      height: 100%;
      top: 0;
      left: 0;
      transform-origin: left center;
      transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
    }

    .front,
    .back {
      background-image: #5d3e06;
      background-size: 100% 100%;
      outline: 10px solid #3d1a01;
    }

    .front,
    .page1,
    .page3,
    .page5 {
      border-bottom-right-radius: 0.5em;
      border-top-right-radius: 0.5em;
      background-image: url(images/leftPage.png);
      box-shadow: -3px 0px 13px 0px black;
    }

    .back,
    .page2,
    .page4,
    .page6 {
      border-bottom-right-radius: 0.5em;
      border-top-right-radius: 0.5em;
      background-image: url(images/rightPage.png);
      box-shadow: 3px 0px 13px 0px black;
    }

    .front {
      animation: front 1.5s ease-in-out 0.5s forwards;
    }
    .back {
      animation: back 1.5s ease-in-out 0.5s forwards;
    }

    .page1,
    .page2,
    .page3,
    .page4,
    .page5,
    .page6 {
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .page1 {
      animation: page1 1.5s ease-in-out 0.5s forwards;
    }
    .page2 {
      animation: page2 1.5s ease-in-out 0.5s forwards;
    }
    .page3 {
      animation: page3 1.5s ease-in-out 0.5s forwards;
    }
    .page4 {
      animation: page4 1.5s ease-in-out 0.5s forwards;
    }
    .page5 {
      animation: page5 1.5s ease-in-out 0.5s forwards;
    }
    .page6 {
      animation: page6 1.5s ease-in-out 0.5s forwards;
    }

    @keyframes front {
      0% {
        transform: rotateY(0deg) scale(1);
        box-shadow: none;
        filter: brightness(1);
      }
      100% {
        transform: rotateY(-160deg) scale(1.1);
        filter: brightness(0.2);
      }
    }
    @keyframes page1 {
      0% {
        transform: rotateY(0deg) scale(1);
        box-shadow: none;
      }
      100% {
        transform: rotateY(-152deg) scale(1.1);
      }
    }
    @keyframes page2 {
      0% {
        transform: rotateY(0deg) scale(1);
        box-shadow: none;
      }
      100% {
        transform: rotateY(-28deg) scale(1.1);
      }
    }
    @keyframes page3 {
      0% {
        transform: rotateY(0deg) scale(1);
        box-shadow: none;
      }
      100% {
        transform: rotateY(-142deg) scale(1.1);
      }
    }
    @keyframes page4 {
      0% {
        transform: rotateY(0deg) scale(1);
        box-shadow: none;
      }
      100% {
        transform: rotateY(-38deg) scale(1.1);
      }
    }
    @keyframes page5 {
      0% {
        transform: rotateY(0deg) scale(1);
        box-shadow: none;
      }
      100% {
        transform: rotateY(-133deg) scale(1.1);
      }
    }
    @keyframes page6 {
      0% {
        transform: rotateY(0deg) scale(1);
        box-shadow: none;
      }
      100% {
        transform: rotateY(-47deg) scale(1.1);
      }
    }
    @keyframes back {
      0% {
        transform: rotateY(0deg) scale(1);
        box-shadow: none;
        filter: brightness(1);
      }
      100% {
        transform: rotateY(-20deg) scale(1.1);
        filter: brightness(0.2);
      }
    }
  }
}
@keyframes showShelf {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes showBooks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showHeading {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

// media-queries
@media (max-width: 780px) {
  #bookShelf {
    .openBook {
      scale: 0.8;
    }
  }
}
@media (max-width: 480px) {
  #bookShelf {
    .openBook {
      scale: 0.7;
    }
  }
}
